.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  padding: 2em;
}

.app-date {
  color: antiquewhite;
}

.app-button {
  background-color: #999;
  font-size: 2em;
  border: 0;
  border-radius: 1em;
  padding: 1em;
  transition: transform 0.3s;
}

.app-button:active {
  transform: scale(0.8);
}

.app-button p {
  margin: 0;
}
