.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  padding: 2em;
  gap: 1em;
}

.app-container dialog {
  background: #222;
  color: #aaa;
}

.app-date {
  color: antiquewhite;
}

.app-redbutton,
.app-greenbutton:active,
.app-button {
  transition: transform 0.3s;
}

.app-redbutton:active,
.app-greenbutton:active,
.app-button:active {
  transform: scale(0.8);
}

.app-button {
  background-color: #999;
  font-size: 2em;
  border: 0;
  border-radius: 1em;
  padding: 1em;
}

.app-redbutton,
.app-greenbutton {
  border: 0;
  padding: 1em;
  border-radius: 2em;
  background-color: #ae1f1f;
  color: #ddd;
  font-weight: bold;
}

.app-greenbutton {
  background-color: green;
}

.app-button p {
  margin: 0;
}
